<div fxLayout = "row wrap">
    <mat-card class = "card-prduto" *ngFor="let produto of produtos"> 
        <mat-card-header>
            <mat-card-title>
                {{produto.name}}
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image [ngSrc] = "produto.image" alt = "Photo of mustang" width="380" height="200">
        <mat-card-content>
            <p> {{produto.description}} </p>
            <p> R$ {{produto.price}} </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink] = "['/editaProduto', produto.id]"> <mat-icon> edit </mat-icon> </button>
            <button mat-button (click) = "delete(produto)"> <mat-icon> delete </mat-icon> </button>
        </mat-card-actions>
    </mat-card>
</div>
